<div class="page-wrapper">
    <section class="content">
        <div class="row">
<!--            <div class="col-md-3 menu-container">

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Действия</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a class='upload-file' href="#"><i class="fa fa-upload"></i> Загрузить файлы</a></li>
                            <li><a class='create-folder' href="#"><i class="fa fa-folder"></i> Создать папку</a></li>
                        </ul>
                    </div>
                </div>
            </div>-->
            <!-- /.col -->
            <div class="col-md-12 files-container">
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
