<div class="box" style="border-top: none;">
    <div class="box-header no-padding">
        <button type="button" class="multimedia-add btn btn-default" style="margin-bottom: 10px">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<!-- /.box-header -->
<div class="box-body no-padding">
    <% if(image && image.type && image.type.viewer==="image") { %>
    <table class="table table-condensed">
        <tr>
            <th>Файл</th>
            <th style="width: 130px">Действия</th>
        </tr>
        <% _.each(data, function(item){ %>
        <tr data-multimedia="<%= item['multimedia_id'] %>">
            <td>
                <i class="fa fa-comment-o pr-5"></i>
                <a href="/control/files/download/<%= item['multimedia_id'] %>"><%= item['name'] %></a>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="multimedia-remove btn btn-danger"><i class="fa fa-remove"></i></button>
                </div>
            </td>
        </tr>
        <% }); %>
    </table>
    <% } %>

</div>
<!-- /.box-body -->
</div>