Главное изображение: 
<% if(!image || !image.id || !image.type || !image.type.viewer==="image") { %>
<input type="hidden" name="<%= inputName %>" value="0">
<div class="btn-group">
    <button type="button" class="multimedia-add btn btn-sm btn-default"><i class="fa fa-plus"></i></button>
    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" class="multimedia-add" >Файловый менеджер</a></li>
    </ul>
  </div>
<% } else {%>

<input type="hidden" name="<%= inputName %>" value="<%= image.id %>">

<button type="button" class="multimedia-remove btn btn-danger" style="padding: 2px 8px;">
    <i class="fa fa-remove"></i>
</button>

<table class="table table-condensed" style="margin-top: 10px">
    <tr data-multimedia="<%= image.id %>">
        <td>
            <img style="width: 100%" src="<%= image.default_preview||image.pathMin||image.path||image.type.default_preview %>" />
        </td>
    </tr>
</table>
<% } %>