<form role="form">
    <div class="form-group">
        <label for="users">Пользователи:</label>
        <select name="users[]" id="users" class="form-control select2" multiple="multiple" style="width: 100%">
                <% 
                    if(users && users.length) {
                        for(var i = 0; i < users.length; i++) {
                %>
                    <option <%= (links[users[i].id])?"selected":"" %> value="<%= users[i].id %>"><%= users[i].name %> - <%= users[i].email %></option>
                <%
                        }
                    }                
                %>
        </select>
    </div>
</form>
